@use "../../styles/abstracts";

.Header {
  background-image: url("../../images/pattern-bg.png");
  background-size: cover;
  height: 30rem;
  padding-top: 3rem;
  font-family: var(--primary-font);
  font-weight: 400;
  @include abstracts.respondMax(abstracts.$tablet) {
    height: 35rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    font-size: var(--fs-600);
    color: rgba(var(--color-light), 1);
  }
  &__form {
    margin-top: 2rem;
    width: 100%;
  }
  &__form-group {
    width: 45rem;
    margin: auto;
    background-color: pink;
    border-radius: 1.3rem;
    position: relative;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
  }
  &__input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    padding-left: 2rem;
    padding-right: 5rem;
    border-radius: 1.3rem;
    font-size: var(--fs-400);
    position: relative;
    &::placeholder {
      color: var(--color-dark-1);
      @include abstracts.respondMax(abstracts.$tablet-small) {
        font-size: 3.5vw;
      }
    }
  }
  &__input-button {
    position: absolute;
    right: -0.2rem;
    top: 0;
    height: 100%;
    width: 5rem;
    border: 1px solid var(--color-dark-2);
    background-color: var(--color-dark-2);
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
      transform: scale(1.1);
    }
  }
  &__input-icon {
    color: rgba(var(--color-light), 1);
    font-size: 2.5rem;
  }
  &__error {
    position: absolute;
    top: 100%;
    left: 1rem;
    color: red;
  }
}
