.Home {
  height: 100%;
  background-color: lightpink;
  &__container {
    transform: translateY(-50%);
  }
}

main {
  position: relative;
  z-index: 3;
}

.Map {
  height: 55rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -2;
}

.Leaflet {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
