@use "../abstracts";

:root {
  //color
  --color-dark-2: hsl(0, 0%, 17%);
  --color-dark-1: hsl(0, 0%, 59%);
  --color-light: 255, 255, 255;

  //font
  --primary-font: "Rubik", sans-serif;

  --fs-600: 3.2rem;
  --fs-500: 2.6rem;
  --fs-400: 1.8rem;
  --fs-300: 1.2rem;
  @include abstracts.respondMax(abstracts.$desktop-small) {
    --fs-500: 2rem;
  }
  @include abstracts.respondMax(abstracts.$mobile) {
    --fs-600: 2.6rem;
    --fs-500: 2rem;
    --fs-300: 1rem;
  }
}
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--fs-400);
  display: grid;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
